/**
 * This file contains styles for the editor and frontend
 *
 * @package Olena Theme
 * @author Maksym Marko <support@markomaksym.com.ua>
 *
 * @link https://markomaksym.com.ua/
 */

/*
 * Common rules.
 */

/* Smooth movement. */
a,
button,
.is-position-sticky {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

/* .has-background padding:unset */
body .has-background {
    padding: unset;
}

/* keyframes. */

/** keyframe: slideUpAndDown */
.keyframe-slideUpAndDown {
    animation: slideUpAndDown 2s infinite;
}

@keyframes slideUpAndDown { 
    0% {
        transform: translateY(0px);
        opacity: 0.7;
    }

    100% {
        transform: translateY(20px);
        opacity: 1;
    }
}

/** keyframe: bounceIn */
.keyframe-bounceIn {
    animation: bounceIn 2s infinite;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.3)
    }

    50% {
        opacity: 1;
        transform: scale(1.05)
    }

    70% {
        transform: scale(.9)
    }

    100% {
        transform: scale(1)
    }
}

/** keyframe: bounceOut */
.keyframe-bounceOut {
    animation: bounceOut 2s infinite;
}

@keyframes bounceOut {
    0% {
        transform: scale(1)
    }

    25% {
        transform: scale(.95)
    }

    50% {
        opacity: 1;
        transform: scale(1.1)
    }

    100% {
        opacity: 0;
        transform: scale(.3)
    }
}

/** keyframe: flipInX */
.keyframe-flipInX {
    animation: flipInX 2s;
}

@keyframes flipInX {
    from {
        transform: perspective(400px) rotate3d(1,0,0,90deg);
        animation-timing-function: ease-in;
        opacity: 0
    }

    40% {
        transform: perspective(400px) rotate3d(1,0,0,-20deg);
        animation-timing-function: ease-in
    }

    60% {
        transform: perspective(400px) rotate3d(1,0,0,10deg);
        opacity: 1
    }

    80% {
        transform: perspective(400px) rotate3d(1,0,0,-5deg)
    }

    to {
        transform: perspective(400px)
    }
}

/*
 * Core blocks customization
 */

/* block: "core/group" */
body .wp-block-template-part .is-position-sticky {
    position: absolute;
    width: 100%;
    z-index: 2;
}
.is-style-animation-wrapper {
    overflow: hidden;
    position: relative !important;
}
.is-style-highlighted {
    -webkit-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.21);
    box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.21);
}

/* block: "core/button" */
/** outline style */
.wp-block-buttons>.wp-block-button.is-style-outline .has-light-color:hover {
    background-color: var(--wp--preset--color--dark);
}

/** bright style */
.is-style-bright.wp-block-button .wp-block-button__link {
    background-color: var(--wp--preset--color--bright);
}
.is-style-bright.wp-block-button .wp-block-button__link:hover {
    background-color: var(--wp--preset--color--main);
}

/** main-outline style */
.is-style-main-outline.wp-block-button .wp-block-button__link {
    background-color: transparent;
    color: var(--wp--preset--color--main);
    border: 2px solid var(--wp--preset--color--main);
}
.is-style-main-outline.wp-block-button .wp-block-button__link:hover {
    background-color: var(--wp--preset--color--main);
    color: var(--wp--preset--color--light);
}

/*
 * Pricing Section
 */
.is-style-price-switcher .wp-block-navigation__container {
    display: flex;
    justify-content: center;
    border: 2px solid var(--wp--preset--color--main);
    border-radius: 100px;
    padding: 2px;
    gap: 0;
    position: relative;    
    width: 410px;
    height: 45px;
}
.is-style-price-switcher .wp-block-navigation-link {
    color: var(--wp--preset--color--main);
    width: 50%;
}
.is-style-price-switcher .wp-block-navigation-link,
.is-style-price-switcher .wp-block-navigation-link > * {
    display: flex;
    justify-content: center;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
.is-style-price-switcher .wp-block-navigation-item__content:hover {
    text-decoration: none;
}
.is-style-price-switcher .wp-block-navigation__container:before {
    content: '';
    position: absolute;
    width: 50%;
    background-color: var(--wp--preset--color--main);
    height: 43px;
    display: block;
    left: 5px;
    border-radius: 20px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
.is-style-price-switcher.price-switcher-position-0 .wp-block-navigation__container:before {
    left: 5px;
}
.is-style-price-switcher.price-switcher-position-1 .wp-block-navigation__container:before {
    left: 50%;
    margin-left: -5px;
}
.is-style-price-switcher .wp-block-navigation__container .wp-block-navigation-item:first-child a {
    color: var(--wp--preset--color--main);
}
.is-style-price-switcher.price-switcher-activated .wp-block-navigation__container .wp-block-navigation-item:first-child a {
    color: inherit;
}
.is-style-price-switcher.price-switcher-activated .wp-block-navigation__container .wp-block-navigation-item a.price-switcher-active {
    color: var(--wp--preset--color--main);
}
.is-style-price-switcher .wp-block-navigation__container .wp-block-navigation-item:first-child a {
    color: var(--wp--preset--color--light);
    text-decoration: none;
}
.is-style-price-switcher.price-switcher-activated .wp-block-navigation__container .wp-block-navigation-item a.price-switcher-active {
    color: var(--wp--preset--color--light);
    text-decoration: none;
}